*{
    padding: 0;
    margin: 0;
}
body{
    background-color: #f6f6f6;
    overflow-x: hidden;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
@media screen and (min-width:1200px){
    header{
        height: 10vh;
        width: 100%;
    }
    nav{
        height: 10vh;
        width: 100%;
        background-color: white;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        position: fixed;
    }
    /* This is a sidebar that only displays in a smaller breaakpoint */
    .sidebar{display: none;}
    .sidenav{display: none;}
    .logo{
        font-size: 20px;
        font-weight: bold;
        color: #01447a;
    }
    .nav_link1{
        width: 30vw;
        display: flex;
        justify-content: space-evenly;
    }
    .nav_link2{
        height: 6vh;
        width: 20vw;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }
    .nav_link1>a,.bookings,.location{
        text-decoration: none;
        color: #01447a;
        font-weight: 600;
    }
    .nav_link1>a:hover,.bookings:hover,.location:hover{
        color: #f97316;
        text-decoration: underline 2px solid #f97316;
    }
    .sign_up{
        color: white;
        background-color: #f97316;
        text-decoration: none;
        height: 4vh;
        width: 6vw;
        border-radius: 5px 5px 5px 5px;
        font-size: 13px;
        display: grid;
        place-content: center;
    }
    section{
        height: 484vh;
        width: 100%;
    }
    .main_img_container{
        height: 108vh;
        width: 100%;
    }
    .main_links{
        height: 8vh;
        width: 15vw;
        align-content: center;
        text-align: center;
    }
    .main_link_1,.main_link_2{
        text-decoration: none;
    }
    .main_link_1{
        color: #f97316;
    }
    .main_link_2{
        color: #01447a;
        font-weight: 600;
    }
    .main_img{
        width: 100%;
        height: 100vh;
        background-image: url("images/mechanic\ in\ the\ blogs\ page.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        align-content: center;
    }
    .title_1{
        font-size: 28px;
        color: white;
        font-weight: bold;
        width: 80vw;
        margin-left: 30px;
    }
    .title_2{
        color: white;
        height: 30vh;
        width: 60vw;
        border: 1px solid white;
        margin-left: 30px;
        margin-top: 10px;
    }
    .Schedule_appointment{
        background-color: #f97316;
        color: white;
        text-decoration: none;
        width: 14vw;
        display: inline-block;
        text-align: center;
        height: 6vh;
        align-content: center;
        margin-left: 30px;
        font-size: 13px;
        border-radius: 5px 5px 5px 5px;
        margin-top: 20px;
    }
    .resources{
        height: 135vh;
        width: 100%;
        background-image: url("images/backgroung\ for\ blogs\ page.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
    .resources_heading{
        height: 20vh;
        width: 100%;
        text-align: center;
        align-content: center;
    }
    .resources_heading_1{
        font-weight: 700;
        color: #01447a;
        font-size: 24px;
    }
    .resources_heading_2{
        color: #01447a;
        margin-top: 10px;
    }
    .resources_links{
        height: 11vh;
        width: 100%;
        background-color: #fff1d5;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }
    .resources_links>a{
        color: #01447a;
        text-decoration: none;
    }
    .resources_links>a:hover{
        color: #f97316;
        text-decoration: underline 1px solid;
    }
    .resources_links>input{
        height: 4vh;
        text-indent: 5px;
    }
    .recent_blog_container{
        height: 103vh;
        width: 100%;
        display: grid;
        place-content: center;
    }
    .recent_blog{
        height: 96vh;
        width: 94vw;
        background-color: white;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }
    .recent_blog_1{
        height: 90vh;
        width: 40vw;
    }
    /* Heading in the recent blog post first div */
    .recent_blog_1_heading{
        color: #01447a;
        font-weight: 700;
        height: 6vh;
        font-size: 18px;
    }
    .recent_blog_1>img{
        width: 100%;
        height: 50vh;
    }
    .recent_blog_1_subtitle{
        border: 1px solid;
        height: 8vh;
    }
    .recent_blog_1_title{
        color: black;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-weight: 700;
        font-size: 20px;
    }
    .recent_blog_1_info{
        height: 10vh;
        width: 100%;
        border: 1px solid;
    }
    .recent_blog_2{
        height: 65vh;
        width: 23vw;
    }
    .recent_blog_2>img{
        height: 30vh;
        width: 100%;
        margin-top: 8px;
    }
    .recent_blog_3{
        height: 50vh;
        width: 20vw;
        border: 1px solid;
    }
    .all_blog_post{
        height: 240vh;
        width: 100%;
        align-content: center;
    }
    .all_blog_heading{
        color: #01447a;
        text-align: center;
        font-weight: 700;
        font-size: 20px;
    }
    .all_posts_container{
        height: 220vh;
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-wrap: wrap;
    }
    .all_posts_container>div{
        height: 60vh;
        width: 25vw;
        border: 1px solid;
    }
    footer{
        height: 56vh;
        width: 100%;
    }
    .footer_1{
        height: 50vh;
        width: 100%;
        border: 1px solid #feccaa;
        background-color: #feccaa;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }
    .footer_div_1{
        height: 30vh;
        width: 25vw;
    }
    .footer_div_1_title{
        height: 13vh;
        border: 1px solid;
    }
    .socials{
        height: 7vh;
        align-content: center;
    }
    .socials>a{
        width: 3vw;
        height: 5vh;
        text-decoration: none;
        color: black;
        display: inline-block;
        border: 1px solid #f97316;
        text-align: center;
        align-content: center;
        border-radius: 15px 15px 15px 15px;
    }
    .socials>a:hover{
        background-color: #f97316;
    }
    .footer_links{
        height: 30vh;
        width: 11vw;
    }
    .footer_links_heading{
        font-weight: 700;
    }
    .footer_links>a{
        text-decoration: none;
        color: #01447a;
        font-weight: 400;
    }
    .footer_links>a:hover{
        color: #f97316;
        text-decoration: underline 1px solid #f97316;
    }
    .contacts{
        height: 30vh;
        width: 18vw;
    }
    .contacts_heading{
        font-weight: 700;
    }
    .contacts>p{
        margin-top: 4px;
    }
    .footer_2{
        height: 6vh;
        width: 100%;
        background-color: #01447a;
        text-align: center;
        color: white;
        align-content: center;
    }
}